@font-face {
  font-family: 'avenir-roman';
  src: url('../fonts/AvenirLTStd-Roman.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avenir-medium';
  src: url('../fonts/AvenirLTStd-Medium.otf');
  font-weight: normal;
  font-style: normal;
}
